.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows:48px;
    grid-column-gap:3px;
}


.parent > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.header {
  grid-column: 1 / -1
}


.gallery-header {
  grid-column: 1 / -1
}


.about-image{
  grid-column: 1 / 4
}
.about-info{
  grid-column: -5/-1
}
.about-gap{
  grid-column: 4/6
}


.contact-header{
  grid-column: 1 /-1
}
.contact-info {
grid-column: 1 / 5
}
.contact-info-image {
grid-column:5 / -1
}


.footer {
  grid-column: 1 / -1
}



html, body {
  background-color: #ffeead;
  margin: 0;
}

.parent > div:nth-child(1n) {
  background-color: #96ceb4;
}

.parent > div:nth-child(3n) {
  background-color: #88d8b0;
}

.parent > div:nth-child(2n) {
      background-color: #ff6f69;
}

.parent > div:nth-child(4n) {
      background-color: #ffcc5c;
}
